# Build results
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# VS Code
.vscode/
!.vscode/settings.json

# Rider
.idea/

# NuGet
*.nupkg
packages/
!packages/build/

# OS
.DS_Store
Thumbs.db

# Markdown
*.bak
*.tmp